<div> <%= render 'layouts/menu' %></div>
<% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
<% end %>
<div class="container">
	<div class="jumbotron jumbo">
		<div class="container">
			<h1>MadTopics</h1>
			<p>Ask a Question - Set your Answers</p>
			<p>See what you circle thinks</p>
      			
      			<%= render 'layouts/logbtn' %>

		</div>
	</div>
</div>

