<div> <%= render 'layouts/menu' %></div>
<% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
<% end %>
<div class="container">
	<div class="jumbotron jumbo">
		<div class="container">
			<h1>MadTopics</h1>
			<p>Ask a Question - Set your Answers</p>
			<p>See what your circle thinks</p>
      
			<% if current_user %>
				<h2><%= link_to "See All The MadTopics", questions_path, class: "btn btn-default btn-lg"  %></h2>
			<% else %>
      			<%= render 'layouts/logbtn' %>
      		<% end %>
      

		</div>
	</div>
</div>

