@import "bootstrap-sprockets";
@import "bootstrap";

.jumbo{
	text-align: center;
}

.menulink{
	margin-right: 20px;
}

#list_title{
	text-align: center;
}

body{
	// background-image: url(world.jpeg);
	background-color: #BEBEBE;
	background-repeat: no-repeat;
	padding-top: 70px; 
}

.notice{
	background-color: rgba(237,102,117,0.6);
	color: white;
	text-align: center;
}
.modal-footer{
	text-align: center;
}

// .box{
// 	background-color: black;
// 	border: 2px dashed white;
// 	color: white;
// }