@import "bootstrap-sprockets";
@import "bootstrap";

.jumbo{
	text-align: center;
}

.menulink{
	margin-right: 20px;
}

#list_title{
	text-align: center;
}

body{
	// background-image: url(world.jpeg);
	background-color: #BEBEBE;
	background-repeat: no-repeat;
}

// .box{
// 	background-color: black;
// 	border: 2px dashed white;
// 	color: white;
// }