@import "bootstrap-sprockets";
@import "bootstrap";

h1{
	font-family: 'Trocchi', serif;
}

.jumbo{
	text-align: center;
}

.menulink{
	margin-right: 20px;
}

#list_title{
	text-align: center;
	position: fixed;
}

#filter{
	position:fixed;
}

.form-control {
    max-width: 100%;
} 
// .sides{
// 	background-image: url(sides.jpg);
// }

.myContainer{
	
}

.jumbotron{
	background-color: #BEBEBE;
	
}

#sin{
	border: 1px solid black;
}

#mytitle{
	color: white;
	text-align: center;
}

body{
	// background-image: url(world.jpeg);
	background-color: #E9ECF1;
	// background-image: url(lightbg.jpg);
	background-size: cover;
	// background-repeat: no-repeat;
	padding-top: 70px; 
}

.notice{
	background-color: rgba(237,102,117,0.6);
	color: white;
	text-align: center;
}
.modal-footer{
	text-align: center;
}

// .box{
// 	background-color: black;
// 	border: 2px dashed white;
// 	color: white;
// }