
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h3><%= link_to "MAD Topics", questions_path %><h3>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="menulink">
            <h3 class="navbar-link"><%= link_to "Topics", questions_path %></h3>
          </li>
          <li class="menulink">
            <h3 class="navbar-link"><%= link_to "About", questions_path %></h3>
          </li>
          <li class="menulink">
            <h3 class="navbar-link"><%= link_to "Share", questions_path %></h3>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
